 __##this lab is for learning Filters##__
 __##lets try min function on the list [1,2,3,4,5]##__
 {{[1,2,3,4,5] | min}}
__##lets try max function on the list [1,2,3,4,5]##__
{{[1,2,3,4,5] | max}}
 __##lets try random function on the list [yaer,abood,mun]##_
 {{['yaser','abood','mun'] | random}}
__##lets try unique function on the list [1,1,3,3,5]##__
{{[1,1,3,3,5] | unique}}
               
               


